@import "helper";

body {
	font-family: "STHeiti Light", "SimSun", "Helvetica Neue", sans-serif;
}

.list-unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* my css. */
.icon {
    margin: 0;
    vertical-align: middle;
    display: inline-block;
    line-height: 1;
}
.icon-user {
    width: 16px;
    height: 14px;
    @include setBackgrount('/img/icon-user.png');
}
.icon-password {
    width: 15px;
    height: 16px;
    @include setBackgrount('/img/icon-password.png');
}
.sidebar {
    float: left;
    padding: 0 0 1.5rem;
    background-color: #1E92CE;
}
.sidebar-header {
    padding: 20px 20px 10px;
    font-size: 32px;
    font-family: "microsoft yahei";
    font-weight: 700;
    color: #fff;
    background-color: #61B3DD;
}
.sidebar-menu {
    a {
        position: relative;
        display: block;
        font-size: 20px;
        color: #fff;
        padding: 20px 20px 20px 30px;
        .fa {
            font-size: 26px;
            line-height: 1;
            color: #53b4e6;
        }
    }
    a:focus,
    a:hover {
        text-decoration: none;
        background-color: #1b82b8;
        transition: background-color .5s;
    }
}
#top .navbar-brand {
    padding: 15px;
}
#menu {
    background-color: #333333 !important;
}
.wrap {
    position: relative;
    padding-top: 52px;
}
.content {
    .content-head {
        height: 56px;
        padding: 10px;
        h3 {
            margin-top: 5px;
            margin-bottom: 0;
            color: #bababa;
            i {
                margin-right: 10px;
            }
        }
    }
}
.dataTables_filter {
    text-align: right;
}
table.dataTable {
    clear: both;
    margin-top: 6px;
    margin-bottom: 6px;
    max-width: none;
}
table.sortableTable {
    th {
        .fa-sort {
            margin-left: 4px;
        }
    }
}
table th {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.dataTables_info {
    padding-top: 8px;
    white-space: nowrap;
}
.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;
    .pagination {
        margin: 2px 0;
        white-space: nowrap;
    }
}
/* login */
.absolute-center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}
.login-container {
	width: 302px;
	height: 302px;
    border: 1px solid #ececec;
	border-radius: 6px;
	background-color: #fcfcfc;
	.title {
		height: 75px;
		font-size: 24px;
		font-weight: 700;
		line-height: 75px;
		color: #ccc;
		text-align: center;
		img {
			vertical-align: -1px;
		}
	}
}
.login-container {
    .row {
        margin: 0;
        padding-left: 38px;

        label {
            display: inline-block;
            width: 27px;
        }
    }
    .row + .row {
        margin-top: 20px
    }

    input[type="text"],
    input[type="password"] {
        display: inline-block;
        width: 200px;
        height: 30px;
        border: 1px solid #ececec;
        outline: none;
        background-color: #fff;
    }
    .checkbox {
        margin-top: 8px;
        padding-left: 64px;
        label {
            color: #ccc;
        }
    }
}
.fg-password {
    margin-top: 22px;
    font-size: 12px;
    color: #ccc;
    text-align: center;
    a {
        color: #ccc;
    }
}
#login {
	background-color: #f5f5f5;
    #submit {
        margin: 14px auto 0;
        display: block;
        width: 100px;
        height: 30px;
        padding: 0;
        font-size: 14px;
        color: #fff;
    }
}
