extends layout
block title
   title 首页
block content
   .container-fluid
      .row
         include sidebar.jade
         main#content.content.col-md-10
            table.table.table-striped.table-hover
