extends layout
block title
   title 区域管理
block content
   .wrap.bg-dark
      include top.jade
      include sidebar.jade
      #content.content
         .content-head
            h3
               i.fa.fa-pencil
               | 区域管理
         .outer
            .inner.bg-light.lter
               .row
                  .col-md-12
                     .box
                        header
                           h5 区域列表
                        .body
                           .row
                              .col-md-12
                                 table#cityList
                                 #pager
   include modal.jade
block scriptSrc
   script(src="/js/vendor/bootstrap-select.min.js")
   script(src="/js/district.js")

