footer
   nav
      a#tohome.nav-item(href="/")
         div.nav-item-icon
            img(src="/img/icon-home.png" alt="")
         div.nav-item-name 订早餐
      a#toorder.nav-item(href="/order/list?status=all")
         div.nav-item-icon
            img(src="/img/icon-order.png" alt="")
         div.nav-item-name 早餐订单
      a#touser.nav-item(href="/personal/home")
         div.nav-item-icon
            img(src="/img/icon-more.png" alt="")
         div.nav-item-name 更多