doctype html
html(lang="zh-CN")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="description", content="天天早餐后天")
        meta(name="auhtor", content="Chaofan Wong")
        block title
            title 天天早餐后台管理系统
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/bootstrap-theme.css")
        link(rel="stylesheet", href="/css/font-awesome.min.css")
        link(rel="stylesheet", href="/css/style.css")
        script(src="/js/vendor/require.min.js")
        script.
            requirejs.config({
                baseUrl: '/js/vendor',
                paths: {
                    jquery: 'jquery-1.11.3.min',
                    swiper: 'swiper.min'
                },
                shim: {
                    swiper: {
                        deps: ['jquery'],
                        exports: 'Swiper'
                    }
                }
            });
    body()
        block content
        script(src="/js/vendor/jquery-1.11.3.min.js")
        script(src="/js/vendor/bootstrap.min.js")
        block scriptSrc
