doctype html
html(lang="zh-CN")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="description", content="天天早餐后天")
        meta(name="auhtor", content="Chaofan Wong")
        block title
            title 天天早餐后台管理系统
        link(rel="stylesheet", href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel="stylesheet", href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")
        link(rel="stylesheet", href="/css/metis.css")
        link(rel="stylesheet", href="/css/font-awesome.min.css")
        link(rel="stylesheet", href="/css/ui.jqgrid-bootstrap.css")

        link(rel="stylesheet", href="/css/style.css")
    body
        block content
        script(src="/js/vendor/jquery-1.11.3.min.js")
        script(src="/js/vendor/i18n/grid.locale-cn.js")
        script(src="/js/vendor/jquery.jqGrid.min.js")
        script(src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js")
        script(src="/js/common.js")
        block scriptSrc
