aside.sidebar
   .sidebar-header 每天早餐
   ul.sidebar-menu.list-unstyled
      li
         a(href="") 城市管理
            i.fa.fa-angle-right.pull-right
      li
         a(href="") 区域管理
            i.fa.fa-angle-right.pull-right