nav#top.navbar.navbar-fixed-top.navbar-inverse
   .container-fluid
      .navbar-header
         a.navbar-brand(href="/") 每天早餐后台管理系统
      .topnav
         .btn-group
            a.btn.btn-sm.btn-metis-1(href="/logout")
               i.fa.fa-power-off

