/* line 3, ../sass/style.scss */
body {
  font-family: "STHeiti Light", "SimSun", "Helvetica Neue", sans-serif;
}

/* line 7, ../sass/style.scss */
.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* my css. */
/* line 13, ../sass/style.scss */
.icon {
  margin: 0;
  vertical-align: middle;
  display: inline-block;
  line-height: 1;
}

/* line 19, ../sass/style.scss */
.icon-user {
  width: 16px;
  height: 14px;
  background: url("/img/icon-user.png") no-repeat top center;
  background-size: cover;
}

/* line 24, ../sass/style.scss */
.icon-password {
  width: 15px;
  height: 16px;
  background: url("/img/icon-password.png") no-repeat top center;
  background-size: cover;
}

/* line 29, ../sass/style.scss */
.sidebar {
  float: left;
  padding: 0 0 1.5rem;
  background-color: #1E92CE;
}

/* line 34, ../sass/style.scss */
.sidebar-header {
  padding: 20px 20px 10px;
  font-size: 32px;
  font-family: "microsoft yahei";
  font-weight: 700;
  color: #fff;
  background-color: #61B3DD;
}

/* line 43, ../sass/style.scss */
.sidebar-menu a {
  position: relative;
  display: block;
  font-size: 20px;
  color: #fff;
  padding: 20px 20px 20px 30px;
}
/* line 49, ../sass/style.scss */
.sidebar-menu a .fa {
  font-size: 26px;
  line-height: 1;
  color: #53b4e6;
}
/* line 55, ../sass/style.scss */
.sidebar-menu a:focus,
.sidebar-menu a:hover {
  text-decoration: none;
  background-color: #1b82b8;
  -webkit-transition: background-color .5s;
          transition: background-color .5s;
}

/* line 62, ../sass/style.scss */
#top .navbar-brand {
  padding: 15px;
}

/* line 65, ../sass/style.scss */
#menu {
  background-color: #333333 !important;
}

/* line 68, ../sass/style.scss */
.wrap {
  position: relative;
  padding-top: 52px;
}

/* line 73, ../sass/style.scss */
.content .content-head {
  height: 56px;
  padding: 10px;
}
/* line 76, ../sass/style.scss */
.content .content-head h3 {
  margin-top: 5px;
  margin-bottom: 0;
  color: #bababa;
}
/* line 80, ../sass/style.scss */
.content .content-head h3 i {
  margin-right: 10px;
}

/* line 86, ../sass/style.scss */
.dataTables_filter {
  text-align: right;
}

/* line 89, ../sass/style.scss */
table.dataTable {
  clear: both;
  margin-top: 6px;
  margin-bottom: 6px;
  max-width: none;
}

/* line 97, ../sass/style.scss */
table.sortableTable th .fa-sort {
  margin-left: 4px;
}

/* line 102, ../sass/style.scss */
table th {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 108, ../sass/style.scss */
.dataTables_info {
  padding-top: 8px;
  white-space: nowrap;
}

/* line 112, ../sass/style.scss */
.dataTables_paginate {
  margin: 0;
  white-space: nowrap;
  text-align: right;
}
/* line 116, ../sass/style.scss */
.dataTables_paginate .pagination {
  margin: 2px 0;
  white-space: nowrap;
}

/* login */
/* line 122, ../sass/style.scss */
.absolute-center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

/* line 131, ../sass/style.scss */
.login-container {
  width: 302px;
  height: 302px;
  border: 1px solid #ececec;
  border-radius: 6px;
  background-color: #fcfcfc;
}
/* line 137, ../sass/style.scss */
.login-container .title {
  height: 75px;
  font-size: 24px;
  font-weight: 700;
  line-height: 75px;
  color: #ccc;
  text-align: center;
}
/* line 144, ../sass/style.scss */
.login-container .title img {
  vertical-align: -1px;
}

/* line 150, ../sass/style.scss */
.login-container .row {
  margin: 0;
  padding-left: 38px;
}
/* line 154, ../sass/style.scss */
.login-container .row label {
  display: inline-block;
  width: 27px;
}
/* line 159, ../sass/style.scss */
.login-container .row + .row {
  margin-top: 20px;
}
/* line 163, ../sass/style.scss */
.login-container input[type="text"],
.login-container input[type="password"] {
  display: inline-block;
  width: 200px;
  height: 30px;
  border: 1px solid #ececec;
  outline: none;
  background-color: #fff;
}
/* line 172, ../sass/style.scss */
.login-container .checkbox {
  margin-top: 8px;
  padding-left: 64px;
}
/* line 175, ../sass/style.scss */
.login-container .checkbox label {
  color: #ccc;
}

/* line 180, ../sass/style.scss */
.fg-password {
  margin-top: 22px;
  font-size: 12px;
  color: #ccc;
  text-align: center;
}
/* line 185, ../sass/style.scss */
.fg-password a {
  color: #ccc;
}

/* line 189, ../sass/style.scss */
#login {
  background-color: #f5f5f5;
}
/* line 191, ../sass/style.scss */
#login #submit {
  margin: 14px auto 0;
  display: block;
  width: 100px;
  height: 30px;
  padding: 0;
  font-size: 14px;
  color: #fff;
}
