/* line 2, ../sass/style.scss */
html {
  height: 100%; }

/* line 5, ../sass/style.scss */
body {
  margin-bottom: 0;
  height: 100%;
  font-family: "STHeiti Light", "SimSun", "Helvetica Neue", sans-serif; }

/* line 11, ../sass/style.scss */
.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none; }

/* my css. */
/* line 17, ../sass/style.scss */
.icon {
  margin: 0;
  vertical-align: middle;
  display: inline-block;
  line-height: 1; }

/* line 23, ../sass/style.scss */
.icon-user {
  width: 16px;
  height: 14px;
  background: url("/img/icon-user.png") no-repeat top center;
  background-size: cover; }

/* line 28, ../sass/style.scss */
.icon-password {
  width: 15px;
  height: 16px;
  background: url("/img/icon-password.png") no-repeat top center;
  background-size: cover; }

/* line 33, ../sass/style.scss */
.sidebar {
  float: left;
  padding: 0 0 1.5rem;
  background-color: #1E92CE; }

/* line 38, ../sass/style.scss */
.sidebar-header {
  padding: 20px 20px 10px;
  font-size: 32px;
  font-family: "microsoft yahei";
  font-weight: 700;
  color: #fff;
  background-color: #61B3DD; }

/* line 47, ../sass/style.scss */
.sidebar-menu a {
  position: relative;
  display: block;
  font-size: 20px;
  color: #fff;
  padding: 20px 20px 20px 30px; }
  /* line 53, ../sass/style.scss */
  .sidebar-menu a .fa {
    font-size: 26px;
    line-height: 1;
    color: #53b4e6; }
/* line 59, ../sass/style.scss */
.sidebar-menu a:focus,
.sidebar-menu a:hover {
  text-decoration: none;
  background-color: #1b82b8;
  -webkit-transition: background-color .5s;
          transition: background-color .5s; }

/* line 66, ../sass/style.scss */
#top {
  margin-bottom: 0;
  z-index: 2; }
  /* line 69, ../sass/style.scss */
  #top .navbar-brand {
    padding: 15px; }

/* line 73, ../sass/style.scss */
#menu {
  background-color: #333333 !important; }

/* line 76, ../sass/style.scss */
#content {
  position: relative;
  height: 100%;
  padding-top: 50px;
  z-index: 1; }

/* line 82, ../sass/style.scss */
#left {
  padding-top: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  z-index: 1; }

/* line 88, ../sass/style.scss */
.wrap {
  width: 100%;
  height: 100%;
  position: relative; }

/* line 94, ../sass/style.scss */
.content .content-head {
  height: 56px;
  padding: 10px; }
  /* line 97, ../sass/style.scss */
  .content .content-head h3 {
    margin-top: 5px;
    margin-bottom: 0;
    color: #bababa; }
    /* line 101, ../sass/style.scss */
    .content .content-head h3 i {
      margin-right: 10px; }

/* line 107, ../sass/style.scss */
.dataTables_filter {
  text-align: right; }

/* line 110, ../sass/style.scss */
table.dataTable {
  clear: both;
  margin-top: 6px;
  margin-bottom: 6px;
  max-width: none; }

/* line 118, ../sass/style.scss */
table.sortableTable th .fa-sort {
  margin-left: 4px; }

/* line 123, ../sass/style.scss */
table th {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* line 129, ../sass/style.scss */
.dataTables_info {
  padding-top: 8px;
  white-space: nowrap; }

/* line 133, ../sass/style.scss */
.dataTables_paginate {
  margin: 0;
  white-space: nowrap;
  text-align: right; }
  /* line 137, ../sass/style.scss */
  .dataTables_paginate .pagination {
    margin: 2px 0;
    white-space: nowrap; }

/* line 142, ../sass/style.scss */
.welcome {
  margin-top: 250px;
  text-align: center; }

/* login */
/* line 147, ../sass/style.scss */
.absolute-center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto; }

/* line 156, ../sass/style.scss */
.login-container {
  width: 302px;
  height: 302px;
  border: 1px solid #ececec;
  border-radius: 6px;
  background-color: #fcfcfc; }
  /* line 162, ../sass/style.scss */
  .login-container .title {
    height: 75px;
    font-size: 24px;
    font-weight: 700;
    line-height: 75px;
    color: #ccc;
    text-align: center; }
    /* line 169, ../sass/style.scss */
    .login-container .title img {
      vertical-align: -1px; }

/* line 175, ../sass/style.scss */
.login-container .row {
  margin: 0;
  padding-left: 38px; }
  /* line 179, ../sass/style.scss */
  .login-container .row label {
    display: inline-block;
    width: 27px; }
/* line 184, ../sass/style.scss */
.login-container .row + .row {
  margin-top: 20px; }
/* line 188, ../sass/style.scss */
.login-container input[type="text"],
.login-container input[type="password"] {
  display: inline-block;
  width: 200px;
  height: 30px;
  border: 1px solid #ececec;
  outline: none;
  background-color: #fff; }
/* line 197, ../sass/style.scss */
.login-container .checkbox {
  margin-top: 8px;
  padding-left: 64px; }
  /* line 200, ../sass/style.scss */
  .login-container .checkbox label {
    color: #ccc; }

/* line 205, ../sass/style.scss */
.fg-password {
  margin-top: 22px;
  font-size: 12px;
  color: #ccc;
  text-align: center; }
  /* line 210, ../sass/style.scss */
  .fg-password a {
    color: #ccc; }

/* line 214, ../sass/style.scss */
#login {
  background-color: #f5f5f5; }
  /* line 216, ../sass/style.scss */
  #login #submit {
    margin: 14px auto 0;
    display: block;
    width: 100px;
    height: 30px;
    padding: 0;
    font-size: 14px;
    color: #fff; }

/* line 226, ../sass/style.scss */
.bg-danger {
  padding: 0 15px;
  line-height: 3; }

/* line 230, ../sass/style.scss */
.combobox {
  width: 100%; }

/* line 233, ../sass/style.scss */
.combobox > .dropdown-toggle {
  width: 100%;
  padding-right: 25px; }

/* line 238, ../sass/style.scss */
.combobox.btn-group .dropdown-toggle .caret {
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -2px;
  vertical-align: middle; }
/* line 245, ../sass/style.scss */
.combobox.btn-group .combobox-menu {
  max-height: 545px;
  overflow-y: auto;
  min-height: 0px;
  min-width: 100%;
  z-index: 1035;
  box-sizing: border-box; }
  /* line 254, ../sass/style.scss */
  .combobox.btn-group .combobox-menu.inner {
    position: static;
    float: none;
    border: 0;
    padding: 0;
    margin: 0;
    max-height: 653px;
    overflow-y: auto;
    min-height: 0px;
    border-radius: 0;
    box-shadow: none; }
  /* line 267, ../sass/style.scss */
  .combobox.btn-group .combobox-menu li {
    position: relative; }
    /* line 269, ../sass/style.scss */
    .combobox.btn-group .combobox-menu li a {
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: 400;
      line-height: 1.42857143;
      color: #333;
      white-space: nowrap;
      cursor: pointer; }
      /* line 278, ../sass/style.scss */
      .combobox.btn-group .combobox-menu li a:focus, .combobox.btn-group .combobox-menu li a:hover {
        color: #262626;
        text-decoration: none;
        background-color: #f5f5f5;
        text-decoration: none; }

/* line 289, ../sass/style.scss */
.open > .combobox-menu {
  display: block; }

/* line 292, ../sass/style.scss */
.combobox-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }
