<footer>
    <nav>
        <a class="nav-item" id="tohome" href="/" >
            <div class="nav-item-icon">
                <img src="/img/icon-home.png" alt="">
            </div>
            <div class="nav-item-name">订早餐</div>
        </a>
        <a class="nav-item" id="toorder" href="/order/list?status=all" >
            <div class="nav-item-icon">
                <img src="/img/icon-order.png" alt="">
            </div>
            <div class="nav-item-name">早餐订单</div>
        </a>
        <a class="nav-item" id="touser" href="/personal/home" >
            <div class="nav-item-icon">
                <img src="/img/icon-more.png" alt="">
            </div>
            <div class="nav-item-name">更多</div>
        </a>
    </nav>
</footer>